CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
.vscode/
cmake-build-debug/
/ServerApplication(Program_2)/cmake-build-release/
/cmake-build-release/
/ClientApplication(Program_1)/cmake-build-release/
/Packet/cmake-build-release/
/ProcSignalGuard/cmake-build-release/
